*{
    margin: 0;
    padding: opx;
    box-sizing: border box;
    font-family: arial;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --main-color:#cab273;
    --main-light-color:#fffbf0;
    --secondary-color:#551756;

}
header{
    display: flex;
    flex-direction:column;
    background-color:#ffffff;
}
.header-top-bar{
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top-bar span{
    color:#474747;
    font-size:0.8rem;
    letter-spacing: 0.3px;
    font-weight:400;
}
.navigation{
    displaY: Flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0p;
    max-width: 1200px;
    width: 100%;
    margin: auto;

}
.logo{
    height: 80px;
}
.logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.menu{
    display: flex;
}
.menu li{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}
.menu li a.hover,
.menu li a.active{
    color: var(--main-color);
}
.right-nav{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
}
.right-nav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--main-light-color);
    position: relative;
}
.right-nav a i{
    color: #4b4b4b;

}
.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: var(--main-color);
    font-weight: 500;
    font-size: 0.6rem;

}
#main-banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-banner-box{
    width: 100%;
    height: 100%;
    position: relative;
}
.main-banner-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.main-banner-text{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(-10%, -50%);
}
.main-banner-text h1{
    font-size: 3rem;
    max-width: 500px;
    line-height: 3.3rem;
    font-weight: 400;
    color: #ffffff;
}
.main-banner-text p{
    color: #FDE7BB;
    font-size: 1.1rem;
    margin: 10px 0px;
    letter-spacing: 0.1px;
    padding-bottom: 10px;
}

.shop{
    border: 2px solid white;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    color: black;
}
.what-we-provide{
    max-width:1200px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.w-info-box{
    display: flex;
    width: 100;
    justify-content: flex start;
    align-items: center;
}
.w-info-icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 1.4rem;
    background-color: var(--main-light-color);
}
.w-info-icon i{
    color: var(--main-color);
}
.main-info-text strong{
    color: #3b3b3b;
    font-weight: 500;
    font-size: 0.9rem;
}
.w-info-text p{
    color: #535353;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
}
.product-grid-half{
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    max-height: 300px;
}
.product-grid-box{
height: 100%;
border-radius: 10px;
overflow: hidden;
display: flex;
justify-content: flex-end;
background-color: var(--main-light-color);
position: relative;
}
.product-grid-text{
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-90%, -50%);
    display: flex;
    max-width: 130px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.product-grid-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center left;
}
.product-grid-text strong{
    color: #1d1d1d;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.product-grid-text span{
    color: #5a5a5a;
    font-size: 0.8rem;
    font-weight: 400;
}
.product-grid-text a{
    color: #272727;
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    border-bottom: 1px solid #616161;
}

.product-grid-half .product-grid-box2{
    grid-row: 1/3;

}

#new_product{
    max-width: 1200px;
    width: 90%;
    margin: 90px auto;
}
.new-product-heading{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.new-product-heading h2{
    font-size: 1.8rem;
    color: #202020;
    font-weight: 500;
}
.new-product-heading p{
    color: #707070;
    font-size: 0.8rem;
}
.new-product-box{
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.new-product-img{
    width: 100%;
    height: 250px;
    display: flex;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.new-product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.new-product-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 20px;
}
.new-product-text .new-product-title{
    color:#1d1d1d;
    font-weight: 400;
    font-size: 0.9rem;
}
.new-product-text span{
    color: var(--main-color);
    font-size: 0.9rem;
    font-weight: 400;
}
.new-product-img span{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: var(--main-color);
    color: #ffffff;
    padding: 3px 10px;
    font-weight: 400;
    border-radius: 4px;
    font-size: 0.8rem;
    letter-spacing:0.5px;
}
.new-product-cart-btn{
    position: absolute;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: none;
    outline: none;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 2px 2px 16px rgba( 0,0,0,0.10);
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all rase 0.2s;
}
.new-product-img:hover .new-product-cart-btn{
    bottom: 20px;
    border: 2px solid var(--main-color);
}
.new-product-cart-btn i{
    color: var(--secondary-color);
    margin-right: 5px;
}

.swiper-pagination{
    position: static !important;
    margin-top: 10px !important;
}

.swiper-pagination-bullet-active{
    background-color: var(--main-color) !important;
}
#category{
    width: calc(100%- 40px);
    max-width: 1550px;
    margin: 0px auto;
    margin-bottom: 80px;
}
.category-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.category-box{
    width: 100%;
    height: 400px;
    position: relative;
    transition: all ease 0.3s;
}
.category-box:hover{
    opacity: 0.8;
}
.category-box img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
    object-position: center;
}
.category-box strong{
    position: absolute;
    left: 40px;
    bottom: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.feature-product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}
#clients{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6f6;
    padding: 60px 0px;
    margin: 40px auto;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
.client-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.client-heading h3{
    font-size: 1.8rem;
    color: #202020;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 0px 5px;
}
.client-heading p{
    color: #696969;
    font-size: 0.8rem;
}
.client-box-container{
    grid-gap: 20px;
    width: 90%;
    margin-top: 40px;
}
.client-box{
    background-color: #ffffff;
    padding: 30px 20px;
    border: 1px solid #f1f1f1;
    border-radius: 0px 30px 0px 30px;
}
.client-profile{
    display: flex;
    align-items: center;
}
.client-profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.profile-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.profile-text strong{
    color: #393939;
    font-size: 1rem;
    font-weight: 600;
}
.profile-text span{
    color: #949494;
    font-weight: 400;
    font-size: 0.8rem;
}
.rating{
    display: flex;
    margin: 10px 0px;
}
.rating i{
    color: var(--main-color);
}
.rating p{
    color: #7c7c7c;
    font-size: 0.9rem;
}
#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.blog-heading h3{
    font-size: 2rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-heading span{
    color: var(--main-color);
    font-size: 0.9rem;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    max-width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    width:100%;
    margin: 20px;
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-box span{
    color: var(--main-color);
    font-size: 0.9rem;
}
.blog-box .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-box p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-box a{
    color: #0f0f0f;
    transition: all ease 0.3s;
}
.blog-box a:hover{
    color: var(--main-color);
}
footer{
    width: 100%;
    background-color: #f8f8f8;
}
.footer-container{
    max-width: 1200px;
    width: 90%;margin: 0px auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-company-box{
    max-width: 330px;
}
.footer-company-box .logo{
    height: 70px;
    display: flex;
    margin-bottom: 20px;
}
.footer-company-box .logo img{
    height: 100%;
    object-fit: contain;
}
.footer-company-box p{
    color: #585858;
    margin: 5px 0px;
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.4rem;
}
.footer-social{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-social a{
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #e9e9e9;
    color: #333333;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}
.footer-social a:hover{
    background-color: var(--main-color);
    color: #ffffff;
}
.footer-link-box strong{
    font-size:1.2rem;
    color: #1d1d1d;
    font-weight: 500;
}
.footer-link-box ul{
    margin-top: 5px;
}
.footer-link-box ul li a{
    color: #585858;
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: flex;
    transition: all ease 0.3s;
}
.footer-link-box ul li a:hover{
    color: var(--main-color);
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #e9e9e9;
    padding: 20px 0px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.footer-bottom span{
    color: #252525;
    font-size: 0.9rem; 
}